name={{ name }}
author={{ author }}
description={{ description }}
bundleID={{ bundle_id }}
imagePath={{ image_path }}
launchSoundPath={{ launch_sound_path }}
{{ content_warning }}
{{ content_warning2 }}